<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806787763701-en62uhjnm7lr09j09u49lg9d70hfkl6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806787763701-en62uhjnm7lr09j09u49lg9d70hfkl6l</string>
	<key>API_KEY</key>
	<string>AIzaSyCI77BNBYn4xhi6jlz0oNimd5IPz6mgye4</string>
	<key>GCM_SENDER_ID</key>
	<string>806787763701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appflowyThemeMarketplace</string>
	<key>PROJECT_ID</key>
	<string>appflowy-theme-marketpla-e8f9b</string>
	<key>STORAGE_BUCKET</key>
	<string>appflowy-theme-marketpla-e8f9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806787763701:ios:6519fad4c098674b9664bc</string>
</dict>
</plist>